/* GLOBAL */
* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    padding : 0;
    margin : 0;
    scroll-behavior: smooth;
}
/* HEADER */
.header__content {
    background-color : #ff4f81;
    width: 100%;
}
.header__content a {
    color : white;
    text-decoration: none;
    align-items: center;
}
.header__right a {
    width : 30px;
    height : 30px;
    background-color: black;
    border: 1px solid black;
    display : inline-block;
    line-height : 30px;
    margin-left : 0.2rem;
    text-align: center;
}
.header__right a:hover {
    background-color: #ff4f81;
    color : black;
    border: 1px solid white;
    transition: all 0.5s;
}
/* NAVIGATION */
.navInstruction a {
    color : black;
}
.navInstruction .container-fluid {
    text-align: center;
    margin : 0 3rem;
}
.navbar-brand p:first-child {
    text-transform: uppercase;
    font-size: 2.25rem;
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-brand p:first-child i {
    transform: skew(-10deg);
}
.navbar-brand p:nth-child(2) {
    color :#ff4f81;
    font-size: 0.68rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.nav-link {
    font-weight: bold;
    transition: all 0.5s;
    letter-spacing: 1px;
}
.nav-item {
    margin : 0 0.75rem;
}
.nav-item::after {
    content: "";
    width : 0;
    height : 2px;
    display: block;
    background-color: #ff4f81;
    transition: all 0.5s;
}
.nav-item:hover::after {
    width : 100%;
}
.nav-item:hover .nav-link {
    color : #ff4f81;
}
.nav-item.active .nav-link {
    color : #ff4f81;
}
.nav-item.active::after {
    width : 100%;
}
#navbarNavDropdown .dropdown-menu {
    background-color: rgba(0,0,0,0.2);
    border : 1px solid rgba(0,0,0,0.2);
}
#navbarNavDropdown .dropdown-item {
    color : white;
    transition: all 0.5s;
}
#navbarNavDropdown .dropdown-item:hover {
    background-color: transparent;
    color : #ff4f81;
}
/* CAROUSEL */
#carouselCyber .carousel-caption {
    position: absolute;
    top : 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#carouselCyber .carousel-caption h1 {
    font-size: 52px;
}
#carouselCyber .carousel-caption p {
    letter-spacing: 1px;
    line-height: 1.8rem;
    width: 70%;
    margin: 0 auto;
    font-weight: 300;
}
#carouselCyber .carousel-caption button {
    padding : 11px 20px;
    border: 1px solid white;
    margin : 20px 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}
#carouselCyber .carousel-caption button:hover {
    cursor: pointer;
    background-color : rgba(255, 79, 129, 0.8);
    border-color: #ff4f81;
    color :white;
}
/* WELCOME */
.welcome {
    padding : 100px 20px;
}
.heading {
    text-align: center;
    width : 80%;
    margin : auto;
}
.mainheading {
    color : #ff4f81;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size : 2.75rem;
}
.subheading {
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 17px;
    color : #999;
    font-weight: bold;
}
.subheading::after {
    content : "";
    width : 70px;
    height : 2px;
    margin: 20px auto;
    background-color: black;
    display: block;
}
.intro {
    padding : 1rem 0 5rem;
    font-size: 0.875rem;
    color : #999;
    letter-spacing: 1px;
}
.welcome__item__new i {
    font-size: 1.75rem;
    padding: 10px 0;
}
.welcome__item__new i:hover {
    cursor: pointer;
    color : #ff4f81;
}
.welcome__item__new h3 {
    color : #ff4f81;
    letter-spacing: 2px;
    padding : 10px 0;
    font-weight: bold;
    font-size: 1.75rem;
}
.welcome__item__new h4 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.welcome__item__new p {
    color: #999;
    line-height: 28px;
}
.row {
    width : 95%;
    margin: auto;
}
.welcome__item {
    padding : 10px;
}
/* STATS */
.ourStats {
    background-image: url("../img/banner2.jpg");
    background-size: cover;
    background-attachment: fixed;
    width : 100%;
    height: 100%;
}
.ourStats__content {
    padding : 80px 0;
    text-align: center;
    width: 95%;
    margin: auto;
}
.ourStats__item__tag {
    color: white;
    padding: 20px 0;
}
.ourStats__item__tag i {
    font-size: 2.5rem;
    padding: 20px 0;
}
.ourStats__item__tag i:hover {
    cursor: pointer;
    color : #ff4f81;
}
.ourStats__item__tag h3 {
    color :#ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 20px 0 30px;
}
.ourStats__item__tag p {
    font-size: 3rem;
    letter-spacing: 2px;
}
/* OFFER */
.offer__text {
    text-align: center;
}
.offer {
    padding : 100px 0 60px;
}
.offer__content {
    padding: 50px 0;
}
.offer__item i {
    font-size: 2rem;
    color: #ff4f81;
    padding : 20px 0;
}
.offer__item h4 {
    letter-spacing: 1px;
    padding : 10px 0;
    font-size: 1.25rem;
    font-weight: bold;
}
.offer__item p {
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #999;
}
.offer__item {
    text-align: center;
    padding : 20px 30px;
    background-color: white;
    box-shadow: 0px 1px 8px 0px rgba(158,158,158,0.75);
    margin: 20px 10px;
    transition: all 0.5s;   
}
.offer__item:hover {
    background-color: rgba(18, 204, 195, 0.6);
    box-shadow: 0px 1px 8px 0px rgba(18, 204, 195, 0.75);
    cursor: pointer;
}
/* FEEDBACK */
.feedback {
    background-image: url("../img/banner3.jpg");
    background-size: cover;
    padding : 20px 0;
    background-attachment: fixed;
}
.feedback__content {
    padding : 80px 0;
    text-align: center;
}
.feedback__item {
    width : 75%;
    margin: auto;
    color : white;
    background-color: rgba(0,0,0,0.47);
    padding: 20px;
    box-shadow: 0px 1px 7px #8e8e8e;
    margin-top: 60px;
    cursor: pointer;
}
.feedback__item .item .feedback__top {
    color : white;
    background-color: rgba(0,0,0,0.47);
    padding: 20px;
    text-align: left;
    font-size: 1rem;
    line-height: 30px;
}
.feedback__item .item {
    padding : 20px;
    margin-bottom: 20px;
}
.feedback__item .item .feedback__bottom img {
    width: 28%;
    display: inline-block;
}
.feedback__bottom {
    display: flex;
    justify-content: flex-start;
}
.feedback__bottom .feedback__name {
    padding: 0 10px;
    text-align: left;
}
.feedback__name p {
    margin-bottom: 10px;
    font-weight: bold;
}
.feedback__name p:nth-child(2) {
    color: #ff4f81;
    font-weight: normal;
}
.owl-theme .owl-dots .owl-dot span {
    background-color : #ff4f81;
    opacity: 0.5;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff4f81;
    opacity: 1;
}
/* NEWS */
.news {
    padding : 80px;
}
.news__text {
    text-align: center;
}
.news__item a {
    text-decoration: none;
    color : black;
}
.news__item {
    margin : 2rem 0;
}
.news__item h4 {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.news__item h4:hover {
    color:#ff4f81;
    cursor: pointer;
}
.news__item p {
    color : #8e8e8e;
    line-height: 28px;
}
.news__item .date {
    color :#ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.news__text__tag {
    padding: 0 10px;
}
/* MODAL TITLE */
.modal-title {
    color: #ff4f81;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.modal-body p {
    color: #999;
    line-height: 28px;
    padding : 20px 0 0;
    font-size: 0.9rem;
}
/* FOOTER */
footer {
    background-color: black;
    padding : 80px 0 40px;
}
.footer__content {
    width: 80%;
    margin: auto;
}
.footer__content .footer__item__tag h4 {
    color: #ff4f81;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__content .footer__item__tag p {
    font-size: 0.97rem;
    line-height: 28px;
    margin-bottom: 0;
    color: #999;
}
.footer__content .footer__item__tag p i {
    font-size: 0.875rem;
    margin-right: 0.875rem;
    color: #ff4f81;
}
.footer__item i {
    width: 32px;
    height: 32px;
    padding : 10px 0;
    color: white;
    border: 1px solid #4b4b50;
    line-height: 10px;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}
.footer__item a {
    text-decoration: none;
    color : white;
    cursor: pointer;
}
.footer__item p {
    display: inline;
    margin-left: 5px;
    letter-spacing: 1px;
}
.footer__form {
    margin-top: 20px;
    padding : 30px 0;
}
.footer__form .sign__up {
    display: inline-block;
    margin-right: 10px;
    padding: 0 50px;
    color: #ff4f81;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__email {
    padding : 5px 10px;
}
.footer__button {
    text-align: center;
    background-color: #ff4f81;
    border: 2px solid #ff4f81;
    font-size: 0.8rem;
    color : white;
    padding: 9px 30px 7px;
    letter-spacing: 1px;
    margin-left: 20px;
}
.footer__copyright {
    color: white;
    text-align: center;
    padding: 20px 0 0;
}
.footer__copyright p {
    margin-bottom: 0;
}
.footer__copyright span a {
    text-decoration: none;
    color: #ff4f81;
}
.footer__copyright span:hover {
    cursor: pointer;
}
/* RESPONSIVE */
/* HEADER */
@media screen and (max-width: 576px) {
    .header__left a {
        font-size: 3.75vw;
        display: block;
    }
    .header__left a:first-child {
        margin-bottom: 2.5vw;
    }
    .header__right {
        font-size: 3.75vw;
        width: 20%;
    }
    .header__right a:nth-child(3), .header__right a:nth-child(4){
        margin-top: 2vw;
    }
}
@media screen and (max-width: 420px) {
    .header__right {
        width: 25%;
    }
}
@media screen and (max-width: 320px) {
    .header__right a {
        width: 40%;
    }
}
/* NAVIGATION */
@media screen and (max-width: 1200px) {
    .navInstruction .nav-item {
        padding: 0 2px;
        margin: 0;
    }
    .navInstruction .nav-link {
        padding: 5px;
        font-size: 14px;
    }
}
@media screen and (max-width: 990px) {
    .navbar-brand p:first-child {
        font-size: 3vw;
    }
    .navbar-brand p:last-child {
        font-size: 1.5vw;
    }
    .navbar-toggler {
        padding: 0;
        box-shadow: none;
    }
    #navbarNavDropdown .navbar-nav {
        background-color: #eee;
        text-align: center;
    }
    #navbarNavDropdown .dropdown-menu {
        background-color: #e0e1e2;
        text-align: center;
        border-color: #e0e1e2;
    }
    #navbarNavDropdown .navbar-nav .dropdown-menu .dropdown-item {
        color: black;
    }
    #navbarNavDropdown .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #ff4f81;
        cursor: pointer;
    }
    .navbar-toggler i{
        width: 30px;
        height: 30px;
        background-color: rgb(0, 0, 0);
        color: #ff4f81;
        border-radius: 5px;
        padding: 5px;   
        text-align: center;
    }
}
@media screen and (max-width: 537px){
    .navbar-brand p:first-child {
        font-size: 5vw;
    }
    .navbar-brand p:last-child {
        font-size: 2vw;
    }
    .navbar .container-fluid {
        margin: 0 10px;
        display: flex;
    }
    #navbarNavDropdown .navbar-nav .nav-link {
        font-size: 2.5vw;
    }
    #navbarNavDropdown .navbar-nav .dropdown-menu .dropdown-item {
        font-size: 2.5vw;
    }
}
/* NAVBAR */
@media screen and (max-width: 1199.98px) {
    #carouselCyber .carousel-caption {
        top: 45%;
    }
    #carouselCyber .carousel-caption h1 {
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    #carouselCyber .carousel-caption p {
        font-size: 1.6vw;
        line-height: 3.5vw;
    }
    #carouselCyber .carousel-caption button {
        font-size: 1.5vw;
        padding: 1em;
        margin-top: 3vw;
        text-align: center;
    }
    #carouselCyber .carousel-indicators button {
        width: 5vw;
        height: 0.3vw;
    }
}
@media screen and (max-width: 500px) {
    #carouselCyber .carousel-caption {
        top: 40%;
    }
}
/* WELCOME */
@media screen and (max-width: 782px) {
    .welcome {
        padding: 15vw 0;
    }
    .mainheading {
        font-size: 5.5vw;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .subheading {
        font-size: 3.5vw;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .subheading::after {
        margin: 4vw auto;
        text-align: center;
    }
    #welcome .heading .intro {
        font-size: 2.8vw;
        text-align: center;
        padding: 0;
        padding-bottom: 10vw;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 455.55px) {
    .welcome__content .col-sm-12 {
        margin-bottom: 10vw;
        padding: 5vw 5vw 7vw !important;
    }
    .welcome__item {
        padding-top: 0;
        padding-bottom: 0;
    }
    .welcome__content .col-sm-12 .welcome__item i {
        font-size: 5.5vw;
        padding-bottom: 0;
    }
    .welcome__content .col-sm-12 .welcome__item h3 {
        font-size: 5vw;
    }
    .welcome__content .col-sm-12 .welcome__item h4 {
        font-size: 3.75vw;
    }
    .welcome__content .col-sm-12 .welcome__item p {
        font-size: 3vw;
        line-height: 4.5vw;
        margin-bottom: 3vw;
        letter-spacing: 1px;
    }
}
/* OUR STAT */
@media screen and (max-width: 450px) {
    .ourStats__item__tag h3 {
        font-size: 4vw;
    }
}
@media screen and (max-width: 320px) {
    .ourStats__item__tag h3 {
        font-size: 3.8vw;
    }
}
/* OFFER */
@media screen and (max-width: 782px) { 
    .offer {
        padding: 15vw 0;
    }
    .offer__item {
        padding: 10px 5vw;
    }
    .offer__content {
        padding: 0;
    }
    .offer__content .col-12 {
        margin-bottom: 0;
    }
}
/* TESTOMINALS */
@media screen and (max-width: 782px) { 
    .feedback__content {
        padding-top: 8vw;
    }
    .feedback__item {
        margin-top: 8vw;
    }
    .feedback__content .item {
        padding: 10px;
    }
    .feedback__top p {
        font-size: 2.5vw;
    }
    .feedback__name p {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 400px) { 
    .feedback__top p {
        font-size: 3.5vw;
    }
    .feedback__name p {
        font-size: 3.75vw;
    }
}
/* NEWS */
@media screen and (max-width: 782px) { 
    .news {
        padding: 15vw 0;
    }
    .news__text__tag {
        margin-bottom: 0;
    }
}
/* FOOTER */
@media screen and (max-width: 1399px) { 
    .footer__form .sign__up {
        padding: 0;
    }
}
@media screen and (max-width: 500px) { 
    footer {
        padding: 15vw 0;
    }
    .footer__content .footer__item__tag {
        margin-bottom: 6vw;
    }
    .footer__content .footer__item__tag p {
        font-size: 3.5vw;
    }
    .footer__content .footer__item__tag h4 {
        font-size: 5.5vw;
        margin-bottom: 2vw;
    }
    .footer__content .footer__item__tag:nth-child(2) p {
        margin: 2px 0;
    }
    .footer__form {
        padding: 0;
        margin-top: 0;
    }
    .footer__form .sign__up {
        display: block;
        font-size: 5vw;
        padding: 2vw 0;
    }
    .footer__form input {
        padding: 1vw;
        margin: 0;
        width: 70%;
        font-size: 4vw;
    }
    .footer__form button {
        margin: 0;
        padding: 2vw 2vw 1.75vw;
        border: none;
    }
    .footer__copyright {
        font-size: 3vw;
        padding: 3vw 0;
    }
}
